<!DOCTYPE html>
<html>
    <head>
        <style>
            div.intro {
                background-color: #fff
            }
        </style>
    </head>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container intro">
                <!-- Group Name -->
                <h1>API2K15</h1>
            </div>
        </div>
    </header>
    <div class="container intro">
        <div class="featurette" id="services">
            <h1 class="featurette-heading">Members</h1>
        </div>
    </div>
    <div class="container intro">
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-right" src="static/assets/images/perry.jpg" 
            width="200" height="200"></img>
            <h3 class="featurette-heading">Perry Feng</h3>
            <h7> bio: Computer Science Student senior at the University of Texas at Austin who likes to play games and explore anything that peaks my interests. From Houston,TX.
            </br>major responsibilities: back-end and front-end 
            </br>commits: 
            </br>issues: 
            </br>unit tests: 
            </h7>
        </div>
    </div>
    <div class="container intro">
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-right" src="static/assets/images/brandon.jpg" 
            width="200" height="200"></img>
            <h3 class="featurette-heading">Brandon Gottesman</h3>
            <h7> bio: Computer Science student at the University of Texas at Austin who loves Startups and building
            web applications. Brandon moved to Austin, TX back in 2009 from Fort Lauderdale. He loves to play the
            drums and go fishing.
            </br>major responsibilities: project leader and front-end development
            </br>commits: 
            </br>issues: 12
            </br>unit tests: 3 
            </h7>
        </div>
    </div>
    <div class="container intro">
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-right" src="static/assets/images/zach.jpg" width="200" height="200"></img>
            <h3 class="featurette-heading">Edmund "Zach" Okruhlik</h3>
            <h7> bio: Computer Science student at the University of Texas at Austin who undertakes woodworking projects in his free time.
            </br>major responsibilities: front-end, navigation, about page, UML diagram
            </br>commits:
            </br>issues: 
            </br>unit tests: 0
            </h7>
        </div>
    </div>
    <div class="container intro">
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-right" src="static/assets/images/john.jpg" 
            width="200" height="200"></img>
            <h3 class="featurette-heading">John Peden</h3>
            <h7> bio: Computer Science student at the University of Texas at Austin. John is back at school after already
                      getting a Philosophy degree and working as a technical writer for five years. He places poorly at competitive pistol
                      competitions when he has time, and is about to learn to play the (electric) bass.
            </br>major responsibilities: table pages, wiki, proofreading
            </br>commits:
            </br>issues: 
            </br>unit tests: 0
            </h7>
        </div>
    </div>
    <div class="container intro">
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-right" src="static/assets/images/josh.jpg" 
            width="200" height="200"></img>
            <h3 class="featurette-heading">Josh Tiras</h3>
            <h7> bio: Super Senior Comp. Sci. student at the University of Texas at Austin with a predilection for embedded
            and OS kernel development. Josh moved to Austin, TX in 2012 after transfering from the University of Colorado at
            Boulder and switched to Computer Science from Aerospace Engineering. He doesn't do anything in life except work 
            and school and cannot wait to be done after this summer.
            </br>major responsibilities: Back-end development and API design.
            </br>commits: 
            </br>issues: 
            </br>unit tests: 
            </h7>
        </div>
    </div>
    <div class="container intro">
        <div class="featurette" id="services">
            <h1 class="featurette-heading">Stats</h1>
            <h7> 
                total number of commits: 
                </br>total number of issues:  
                </br>total number of unit tests:
                </br><a href="url">Apiary API</a>
                </br><a href="https://github.com/jrpeden/cs373-idb/issues">Github Issue Tracker</a>
                </br><a href="https://github.com/jrpeden/cs373-idb">Github Repo</a>
                </br><a href="https://github.com/jrpeden/cs373-idb/wiki">Github Wiki</a>
            </h7>
        </div>
    </div>
    <div class="container intro">
        <div class="featurette" id="services">
            <h1 class="featurette-heading">Data</h1>
            <h7> 
                <a href="espn.go.com">ESPN</a>
                </br>&emsp;From the ESPN site, we obtained general statistics for each player. We started with teams and scraped every player from each team roster using BeautifulSoup.
                </br><a href="https://erikberg.com/api">xmlstats</a>
                </br>&emsp;We just used the already provided nba API. We pulled their data as a JSON, which allows me to programatically access the data.
                </br><a href="https://twitter.com">Twitter</a>
                </br>&emsp;We went to the twitter search bar and inputted the name. We checked whether after we searched that name, if there are any official twitter accounts grabbed from the search query. If there are, what is typically the case is the first official twitter we got is usually the twitter of the person we want using BeautifulSoup.
                </br><a href="https://youtube.com">YouTube</a>
                </br>&emsp;For YouTube, we searched the players name and grabbed videos from the resulting page using BeautifulSoup.
            </h7>
        </div>
        </br>
    </div>
    </br>
</html>
