# Flask framework
Flask==0.10.1

# Template Engine
Jinja2==2.7.3

# SQLAlchemy
SQLAlchemy==1.0.6
Flask-SQLAlchemy==2.0

# Require PyMySQL for SQLAlchemy
# connector for MySQL
PyMySQL==0.6.6

#Whoosh for search
flask_whooshalchemy

#for postgres
psycopg2

#for web requests
requests

SQLAlchemy-Searchable==0.9.3