<div class="row teamHeading">
    <div class="col-md-6 col-xs-6">
            <img class="img-responsive" alt="Responsive image" src="/static/assets/images/teamlogos/clippers.png">
    </div>
    <div class="col-md-5 col-xs-5">
        <div class="teamInfo">
            <div>
                <h1>Los Angeles Clippers</h1>
            </div>
            <div>
                <h2>Conference: West</h2>
            </div>
            <div>
                <h2>Division: Pacific</h2>
            </div>
        </div>
    </div>
</div>

<div class="row teamDetails">
    <!-- links to players -->
    <div class="col-md-5 col-xs-5 teamRoster">
       <h2>Roster</h2>
       <table class="table">
           <tbody>
               <tr>
                   <th>Players</th>
               </tr>
               <tr>
                   <td><a href="/bg">Blake Griffin</a></td>
               </tr>
           </tbody>
       </table>
   </div>
   <div class="col-md-6 col-xs-6 teamGameLog pull-right">
       <!-- link to people -->
       <h2>Games</h2>
       <table class="table">
           <tbody>
                <tr>
                    <th>Date</th>
                    <th>Opp</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td><a href="/g559">Sun 1/11</a></td>
                    <td>VS MIA</td>
                    <td>W 104-90</td>
                </tr>
                <tr>
                    <td><a href="/g414">Mon 12/22</a></td>
                    <td>@ LAC</td>
                    <td>L 125-118</td>
                </tr>
                <tr>
                    <td><a href="/g102">Mon 11/10</a></td>
                    <td>VS SAS</td>
                    <td>W 89-85</td>
                </tr>
            </tbody>
       </table>
    </div>
    <div class="playerMap">
        <!-- Map -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.0332763569436!2d-118.26725410000002!3d34.043017500000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c7b85dea2a93%3A0x1ff47c3ceb7bb2d5!2sSTAPLES+Center!5e0!3m2!1sen!2sus!4v1436297412818" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
    <div class="teamCitations">
        <!-- Citations -->
        <h2>Citations</h2>
        <div>
            ESPN: <a href="http://espn.go.com/nba/team/_/name/lac/los-angeles-clippers">http://espn.go.com/nba/team/_/name/lac/los-angeles-clippers</a>
        </div>
    </div>
</div>
