<!-- Organization -->
<div class="row playerHeading">
    <div class="col-md-5">
        <img class="centerImg" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3989.png&w=350&h=254">
    </div>
    <div class="col-md-7">
        <div>
            <h1> 
                <!-- name --> 
                Blake Griffin
                <!-- kind & location | crisis-->
                <small> #32 PF | <a href="/lac">Los Angeles Clippers</a></small>
            </h1>
        </div>
        <div class="playerTwitter">
            <!-- Social Media -->
            <a href="https://twitter.com/blakegriffin32"><h4>@blakegriffin32</h4></a>
        </div>
        <div class="playerBio">
            <div>
                <!-- history -->
                <h4>Age: 26</h4>
            </div>
            <div>
                <!-- Weight -->
                <h4>Weight: 251</h4>
            </div>
            <div>
                <!-- External Links -->
                <a href="blakegriffin.com/"><h4>website</h4></a>
            </div>
        </div>
    </div>
</div>

<div class="row playerMedia">
    <div class="playerGameLog">
        <!-- link to people -->
        <h2>Game Log</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th>Date</th>
                    <th>Opp</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td><a href="/g559">Mon 4/15</a></td>
                    <td>@ PHI</td>
                    <td>W 104-90</td>
                </tr>
                <tr>
                    <td>Mon 4/12</td>
                    <td>VS HOU</td>
                    <td>W 105-102</td>
                </tr>
                <tr>
                    <td>Fri 4/10</td>
                    <td>VS LAL</td>
                    <td>W 87-86</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="playerVideos">
        <!-- Videos -->
        <h2>Videos</h2>
        <iframe src="https://www.youtube.com/embed/yz9OB_bpJOU" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <div class="playerMap">
        <!-- Map -->
        <h2>Map</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.0332763569436!2d-118.26725410000002!3d34.043017500000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c7b85dea2a93%3A0x1ff47c3ceb7bb2d5!2sSTAPLES+Center!5e0!3m2!1sen!2sus!4v1436297412818" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
    <div class="playerCitations">
        <!-- Citations -->
        <h2>Citations</h2>
        <div>
            ESPN: <a href="http://espn.go.com/nba/player/_/id/3989/blake-griffin">http://espn.go.com/nba/player/_/id/3989/blake-griffin</a>
        </div>
    </div>
</div>


