<div class="row teamHeading">
    <div class="col-md-6 col-xs-6">
            <img class="img-responsive" alt="Responsive image" src="/assets/images/teamlogos/spurs.png">
    </div>
    <div class="col-md-5 col-xs-5">
        <div class="teamInfo">
            <div>
                <h1>San Antonio Spurs</h1>
            </div>
            <div>
                <h2>Conference: West</h2>
            </div>
            <div>
                <h2>Division: Southwest</h2>
            </div>
        </div>
    </div>
</div>

<div class="row teamDetails">
    <!-- links to players -->
    <div class="col-md-5 col-xs-5 teamRoster">
       <h2>Roster</h2>
       <table class="table">
           <tbody>
               <tr>
                   <th>Players</th>
               </tr>
               <tr>
                   <td><a href="/td">Tim Duncan</a></td>
               </tr>
           </tbody>
       </table>
   </div>
   <div class="col-md-6 col-xs-6 teamGameLog pull-right">
       <!-- link to people -->
       <h2>Games</h2>
       <table class="table">
           <tbody>
                <tr>
                    <th>Date</th>
                    <th>Opp</th>
                    <th>Score</th>
                </tr>
		        <tr>
                    <td><a href="/g414">Mon 12/22</a></td>
                    <td>VS LAC</td>
                    <td>W 125-118</td>
                </tr>
                <tr>
                    <td><a href="/g102">Mon 11/10</a></td>
                    <td>VS LAC</td>
                    <td>L 85-89</td>
                </tr>
            </tbody>
       </table>
    </div>
    <div class="playerMap">
        <!-- Map -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14917.429559162807!2d-98.43688264703148!3d29.426677221221077!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaad3c1cc2b98e0a4!2sAT%26T+Center!5e0!3m2!1sen!2sus!4v1436295707188" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
    <div class="teamCitations">
        <!-- Citations -->
        <h2>Citations</h2>
        <div>
            ESPN: <a href="http://espn.go.com/nba/team/_/name/sa/san-antonio-spurs">http://espn.go.com/nba/team/_/name/sa/san-antonio-spurs</a>
        </div>
    </div>
</div>
