/*style.css*/

.defaultGrid {
    width: 100%;
    height: 100%;
    background-color: white;
}

body {
    background-color: #0D0600;
}

a {
    color: #1DC4C2;
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Home Page CSS */
.homeLogo img{
    width: 50%;
    margin-top: 12%;
    margin-bottom: 25%;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/basketball-court_landscape.jpg) no-repeat;
    background-size: cover;
}

video { display: block; } 

@media all and (max-device-width:800px){
    body{
        background: url(../images/basketball-court_landscape.jpg) #000 no-repeat center center fixed;
        background-size:cover;
    }

    #bgvid, #hp_button,
    .homeLogo img{
        display:none;
    }
}

video#bgvid { transition: 1s opacity; }

.stopfade { opacity: .3; }

#hp_button button{
    display:block;
    width:25%;
    padding:.4rem;
    border:none;
    margin:1rem auto;
    font-size:1.3rem;
    background:rgba(255,255,255,.23);
    color:#fff;
    border-radius:3px;
    cursor:pointer;
    -webkit-transition:.3s background;
    transition:.3s background
}

#hp_button button:hover{
    background:rgba(255,130,28,.5)
}

/* About CSS */

.errorbox {
    height:150px;
    overflow:auto;
}


/* Navbar CSS */

.navbar {
    background:rgba(255,255,255,.23);
}

.navbar-brand img{
    width: 100px;
}
#nav-links a {
    color:#fff;
}

#nav-links a:hover,
#nav-links a:active{
    color: #FF821C;
}

@media(min-width: 762) {
    .navbar {
        padding: 0px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}


@media only screen and (max-width: 766px) {
    .collapsing, .in {background-color: #FF5805;}
    .collapsing ul li a, .in ul li a {color: #fff!important;}
    .collapsing ul li a:hover, .in ul li a:hover {color: #f1f1f1!important;}
}

/* Player CSS */

.playerHeading {
    background-color: white;
}

.playerPicBG {
    background-size: cover;
}

.playerTwitter h4{
    margin-top: 0px;
}

.playerBio {
    margin-top: 20px;
}

.playerMedia div {
    margin: 20px 0;
    background-color: white;
    padding: 10px 20px;
}

.playerMedia h2 {
    margin-top: 0;
}

.playerGameLog {
    height: 400px;
    overflow:auto;
}

.playerVideos iframe {
    width: 100%;
    height: 600px;
}

.playerMap iframe {
    width: 100%;
    height: 450px;
}

/* Game CSS */
.gameHeading {
    background-color: white;
    padding: 20px;
}

.gameDate h2 {
    margin-top: 0;
    font-size: 2.5vw;
}
.gameAwayTeamLogo img {
}

.gameHomeTeamLogo img {
}

.gameVS {
    font-size: 3.5vw;
}

.gameInfo div {
    margin: 20px 0;
    background-color: white;
}

.gameStats h1 {
    font-size: 2.0vw;
}

.gameMap iframe {
    width: 100%;
    height: 450px;
}

@media (min-width: 992px) {
    .gameVS {
        margin-top: 100px;
        margin-left: 50px;
    }
}


/* Team CSS */
.teamHeading {
    background-color: white;
}

.teamInfo {
    margin: 20px;
}

.teamInfo h1 {
    font-size: 2.0vw;
}

.teamInfo h2 {
    font-size: 1.7vw;
}

.teamRoster {
    margin: 20px 0;
    background-color: white;
    height: 400px;
    overflow: auto;
}

.teamGameLog {
    margin: 20px 0;
    background-color: white;
    height: 400px;
    overflow: auto;
}

.teamCitations {
    background-color: white;
    margin: 20px 0;
    padding: 3px 20px 20px;
}


/* Search CSS */

.searchHeading {
    background-color: white;
    border-radius: 5px;
}

.searchHeading h2 {
    margin: 10px;
}

.searchResults {
    background-color: white;
    margin-top: 20px;
}

.searchResults h3{
    margin: 10px;
}

.qResult {
    color: #D93434;
}

.teamSum {
    margin-bottom: 20px;
}

.teamThumb img{
    height: 75px;
    width: 75px;
    margin-right: 10px;
}

.s_result {
    margin: 20px;
}

.s_result h4 {
    margin-bottom: 3px;
}

.playerThumb img {
    height: 75px;
    width: 75px;
    margin-right: 10px;
}

.gameThumb img {
    height: 75px;
    width: 75px;
    margin-right: 10px; 
}

/*Who Weighs More CSS */

.otherAPIheading {
    background-color: white;
}

.otherButton {
    background-color: white;
}

.otherAPIcontent {
    background-color: white;
}
