<div class="searchHeading row">
    <h2>Search Results for: {{query}}</h2>
</div>

<div class="searchResults row" >
    <div ng-show="noResults">
        <h3>No Results Found :(</h3>
    </div>
    <div ng-hide="results.teams == 0">
        <h3>Teams</h3>
        <div ng-repeat"team in result.teams">
            <p>I am team</p>
        </div>
    </div>
    <div ng-hide="results.players == 0">
        <h3>Players</h3>
        <div ng-repeat"player in result.players">
            <p>I am player</p>
        </div>
    </div>
    <div ng-hide="results.games == 0">
        <h3>Games</h3>
        <div ng-repeat"game in result.games">
            <p>I am game</p>
        </div>
    </div>
</div>
