<!-- Organization -->
<div class="row playerHeading">
    <div class="col-md-5">
        <img class="centerImg" src="{{ playerHeadshot }}">
    </div>
    <div class="col-md-7">
        <div>
            <h1> 
                <!-- name --> 
                {{ playerName }}
                <!-- kind & location | crisis-->
                <small> #{{ playerNumber }} {{ playerPosition }} | <a href="/{{ teamId }}">{{ teamName }}</a></small>
            </h1>
        </div>
        <div class="playerTwitter">
            <!-- Social Media -->
            <a href="https://twitter.com/{{ twitterAccount }}"><h4>@{{ twitterAccount }}</h4></a>
        </div>
        <div class="playerBio">
            <div>
                <!-- history -->
                <h4>Age: {{ age }}</h4>
            </div>
            <div>
                <!-- weight -->
                <h4>Weight: {{ weight }}</h4>
            </div>
        </div>
    </div>
</div>

<div class="row playerMedia">
    <div class="playerGameLog">
        <!-- link to people -->
        <h2>Game Log</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th>Date</th>
                    <th>Opp</th>
                    <th>Score</th>
                </tr>
                <div ng-repeat="game in gameObj">
                    <tr>
                      <td><a href="/{{ game.id }}">{{ game.date }}</a></td>
                      <td>VS {{ game.home_team}} </td>
                      <td>{{ game.home_score }} - {{ game.away_score }}</td>
                  </tr>
              </div>
          </tbody>
      </table>
  </div>

  <div class="playerVideos">
    <!-- Videos -->
    <h2>Videos</h2>
    <iframe src="{{ playerVideo }}" frameborder="0" allowfullscreen></iframe>
</div>

<div class="playerMap">
    <!-- Map -->
    <h2>Map</h2>
    <iframe src="{{ playerMapSource }}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="playerCitations">
    <!-- Citations -->
    <h2>Citations</h2>
    <div>
        ESPN: <a href="{{ playerCitation }}">{{ playerCitation }}</a>
    </div>
</div>
</div>


