/*style.css*/

.homeLogo{
    margin-top: 100px;
}

.defaultGrid {
    width: 100%;
    height: 100%;
    background-color: white;
}

body {
    padding-top: 65px; 
    background-image: url("/static/assets/images/basketball-court_landscape.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 762) {
    .navbar {
        padding: 0px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}


/* Player CSS */

.playerHeading {
    background-color: white;
}

.playerTwitter h4{
    margin-top: 0px;
}

.playerBio {
    margin-top: 20px;
}

.playerMedia div {
    margin: 20px 0;
    background-color: white;
    padding: 10px 20px;
}

.playerMedia h2 {
    margin-top: 0;
}

.playerVideos iframe {
    width: 100%;
    height: 600px;
}

.playerMap iframe {
    width: 100%;
    height: 450px;
}

/* Game CSS */
.gameHeading {
    background-color: white;
    padding: 20px;
}

.gameDate h2 {
    margin-top: 0;
    font-size: 2.5vw;
}
.gameAwayTeamLogo img {
}

.gameHomeTeamLogo img {
}

.gameVS {
    font-size: 3.5vw;
}

.gameInfo div {
    margin: 20px 0;
    background-color: white;
}

.gameStats h1 {
    font-size: 2.0vw;
}

.gameMap iframe {
    width: 100%;
    height: 450px;
}

@media (min-width: 992px) {
    .gameVS {
        margin-top: 100px;
        margin-left: 50px;
    }
}


/* Team CSS */
.teamHeading {
    background-color: white;
}

.teamInfo {
    margin: 20px;
}

.teamInfo h1 {
    font-size: 2.0vw;
}

.teamInfo h2 {
    font-size: 1.7vw;
}

.teamRoster {
    margin: 20px 0;
    background-color: white;
}

.teamGameLog {
    margin: 20px 0;
    background-color: white;
}

.teamCitations {
    background-color: white;
    margin: 20px 0;
    padding: 3px 20px 20px;
}
